<a href="https://colab.research.google.com/github/solomontessema/Introduction-to-Python-with-Colab/blob/master/notebooks/Day_08_Data_Analysis_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table>
  <tr>
    <td><img src="https://ionnova.com/img/ionnova_logo_name_2.png" width="120px"></td>
    <td><h1>Day 08: Data Analysis with Pandas</h1></td>
  </tr>
</table>

# Concepts Covered:


*   Loading and exploring datasets with pandas
*   Data cleaning: handling missing values, duplicates
*   Filtering, sorting, and grouping data
*   Merging and joining DataFrames
*   Exporting to CSV and JSON

In [ ]:
import pandas as pd

In [ ]:
# Create a simple dataset using a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', None],
    'Age': [25, 30, None, 22, 29, 30],
    'City': ['NY', 'LA', 'NY', 'Chicago', 'LA', 'Chicago']
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

In [ ]:
# Drop rows with any missing values
df_cleaned = df.dropna()

print("After dropping missing values:")
print(df_cleaned)

In [ ]:
# Drop duplicate rows
df_cleaned = df_cleaned.drop_duplicates()

print("After dropping duplicates:")
print(df_cleaned)

In [ ]:
# Sort by Age
sorted_df = df_cleaned.sort_values(by='Age')

print("Sorted by Age:")
print(sorted_df)

In [ ]:
# Create another DataFrame to merge
extra_data = {
    'City': ['NY', 'LA', 'Chicago'],
    'Population': [8000000, 4000000, 2700000]
}
df_extra = pd.DataFrame(extra_data)

# Merge on 'City'
merged_df = pd.merge(df_cleaned, df_extra, on='City')

print("Merged DataFrame:")
print(merged_df)

In [ ]:
# Export to CSV and JSON
merged_df.to_csv('merged_data.csv', index=False)
merged_df.to_json('merged_data.json', orient='records')

print("Data exported to CSV and JSON!")